<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Trail Finder Admin</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/admin.js"></script>

  </head>
  <body>
    <div class="admin-container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="admin-h1">Add Trail</h1>
            <form id="newTrailForm">
               <div class="form-group">
                 <label for="title">Name</label>
                 <input type="text" class="form-control" name="name" placeholder="Almaden Quicksilver Park"/>
               </div>
               <div class="form-group">
                 <label for="title">Trail Code</label>
                 <input type="text" class="form-control" name="trailCode" placeholder="quicksilver"/>
               </div>
               <div class="form-group">
                 <label for="title">Rating</label>
                 <input type="number" step="any" class="form-control" name="rating" placeholder="4.6"/>
               </div>
               <div class="form-group">
                 <label for="title">Address</label>
                 <input type="text" class="form-control" name="address" placeholder="21785 Almaden Rd, San Jose, CA 95120"/>
               </div>
               <div class="form-group">
                 <label for="title">Popular Trail</label>
                 <input type="text" class="form-control" name="popularTrail" placeholder="English Camp Trail" />
               </div>
               <div class="form-group">
                 <label for="title">Experience Level</label>
                 <input type="text" class="form-control" name="experienceLevel" placeholder="beginner"/>
               </div>
               <div class="form-group">
                 <label for="title">Latitude</label>
                 <input type="number" step="any" class="form-control" name="latitude" placeholder="37.173966" />
               </div>
               <div class="form-group">
                 <label for="title">Longitude</label>
                 <input type="number" step="any" class="form-control" name="longitude" placeholder="-121.8272905" />
               </div>
               <div class="form-group">
                 <label for="title">Comments</label>
                 <input type="text" class="form-control" name="comments" placeholder="Add Comment" />
               </div>
               <button type="submit" class="btn btn-default">Add Trail</button>
             </form>

         <div id="trail-target" class="button">
            <script id="result-template" type="text/x-handlebars-template">
              {{#each trails}}
                <div class="frame-info">
                  <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
                  <h3>{{name}}</h3>
                  <p><strong>Rating: </strong>{{rating}}</p>
                  <p><strong>Popular Trail: </strong>{{popularTrail}}</p>
                  <p><strong>Address: </strong> {{address}}</p>
                  <p><strong>Comments:</strong>
                    <br/>
                    <em>"{{comments}}"</em>
                </div>
                <div class="underline"></div>
              {{/each}}
            </script>
        </div>
      </div>
   </div>
 </div>

 </body>
</html>
