<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Trail Finder Project-01</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
  </head>

  <body>

    <!-- Header -->
    <div class="jumbotron">
      <div class="container">
        <h1>Bay Area Trail Finder</h1>
        <p>Find trails based on your experience level</p>
      </div>
    </div>

    <!-- On load Modal prompting user for experience level  -->
    <div class="modal fade" tabindex="-1" role="dialog" id="intro-modal">
      <div  class="modal-dialog" role="document">
        <div class="modal-header">
          <h4 class="modal-title">Welcome Riders</h4>
        </div>
        <div class="modal-body">
          <p>Please select the difficulty of the trails you would like to see</p>
        </div>
        <div class="modal-footer">
              <button id="beginner-btn" type="button" class="btn btn-success modal-btn">Beginner</button>
              <button id="intermediate-btn" type="button" class="btn btn-warning modal-btn">Intermediate</button>
              <button id="hardcore-btn" type="button" class="btn btn-danger modal-btn">Hardcore</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Results Section -->
    <div class="container">
      <div class="row" id="reset-btn">
        <div class="col-md-4 ">
          <button class="btn btn-default" type="submit">New Search</button>
        </div>
      </div>
      <div class="row">
        <div id="trail-target" class="col-md-4">
        </div>
        <script id="result-template" type="text/x-handlebars-template">
          <h3>{{name}}</h3>
          <p><strong>Rating: </strong>{{rating}}</p>
          <p><strong>Popular Trail: </strong>{{popularTrail}}</p>
          <p><strong>Address: </strong> {{address}}</p>
          <p><strong>Comments:</strong>
            <form id="comment-form">
              <div class="form-group">
                <input type="text" data-id={{_id}} class="form-control" id="{{trailCode}}" placeholder="Leave a comment">
              </div>
              <button type="submit" style="visibility:hidden" onclick='getComment({{trailCode}}.id)' class="btn btn-default btn-xs">Update</button>
            </form>
            <br/>
            <em>{{#each comments}}{{this.comments}}{{/each}}</em>
          </p>
          <div class="underline"></div>
          </script>
          <div class="col-md-8">
          <div id="map">
          </div>
       </div>

      <hr>
    <footer>
    <p>Bay Area Trail Finder &copy; Danksey 2016</p>
    </footer>
    </div>
  </div>
<!-- remvoe the line above -->
  </body>
</html>
